<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is my personal blog website. In this site I will give you infromation about javaScript, node.js, express.js, mongodb,firebase.</p>
    <p>This is my personal blog website. In this site I will give you infromation about javaScript, node.js, express.js, mongodb,firebase.</p>
    <p>This is my personal blog website. In this site I will give you infromation about javaScript, node.js, express.js, mongodb,firebase.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>